#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

@media screen and (max-width: 768px) {
  #root {
    padding: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  a {
    color: #FAFF81
  }
}

@media (prefers-color-scheme: light) {
  a {
    color: var(--color-primary);
  }
}

.profilepic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  display: block;
}

@media screen and (max-width: 768px) {
  .profilepic {
    width: 100px;
    height: 100px;
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem
}

h1 {
  flex: 1
}

h2 {
  margin-bottom: 0.25rem;
}

.aboutme {
  margin-top: 0;
}

.techstack {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.techstackitem {
  background-color: var(--color-primary);
  color: var(--font-color-primary);
}

.pill {
  padding: 0.5rem 1rem;
  border-radius: 16px;
}

.toolsitem {
  background-color: #FAFF81;
  color: #000
}

.clientitem {
  background-color: #FFC53A;
  color: #000
}

.techstacklink {
  text-decoration: none;
  color: inherit
}

.navigation {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  font-size: large;
}
