#root {
  max-width: 1280px;
  margin: 0 auto;
}

main {
  padding: 2rem;
}

@media screen and (max-width: 768px) {
  main {
    padding: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  a {
    color: #faff81;
  }
}

@media (prefers-color-scheme: light) {
  a {
    color: var(--color-primary);
  }
}

.profilepic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  display: block;
}

@media screen and (max-width: 768px) {
  .profilepic {
    width: 100px;
    height: 100px;
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0rem 2rem;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0rem 1rem;
  }
}

h1 {
  flex: 1;
}

h2 {
  margin-bottom: 0.25rem;
}

.aboutme {
  margin-top: 0;
}

.techstack {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.techstackitem {
  background-color: var(--color-primary);
  color: var(--font-color-primary);
}

.pill {
  padding: 0.5rem 1rem;
  border-radius: 16px;
}

.toolsitem {
  background-color: #faff81;
  color: #000;
}

.clientitem {
  background-color: #ffc53a;
  color: #000;
}

.techstacklink {
  text-decoration: none;
  color: inherit;
}

.active {
  color: var(--color-primary);
  transition: color 0.3s ease-in-out;
}
