.techstackitem {
  background-color: var(--color-primary);
  color: var(--font-color-primary);
  animation: fadeIn 0.5s ease-in-out;
}

.techstacklink {
  text-decoration: none;
  color: inherit;
}

.techstack-header {
  padding: 0rem 2rem;
}

@media screen and (max-width: 768px) {
  .techstack-header {
    padding: 0rem 1rem;
  }
}
