.navigation {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  font-size: large;
  background: var(--color-nav);
  padding: 0.5rem 2rem;
}

@media screen and (max-width: 768px) {
  .navigation {
    padding: 0.5rem 1rem;
  }
}
